<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sdu.mapper.SduCommentMapper">
    <select id="selectListById" parameterType="Integer" resultType= "org.jeecg.modules.sdu.entity.SduComment">
        SELECT * FROM sdu_comments WHERE SCHEMEID = #{schemeid}
    </select>

</mapper>
