<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sdu.mapper.SduCreativeMapper">

    <select id="findByUser"  resultType= "org.jeecg.modules.sdu.entity.SduCreative">
        SELECT * FROM sdu_creative WHERE USER = #{user} AND STATUS = #{status} and deletestate=0
    </select>

    <select id="findByCid" parameterType="Integer" resultType= "org.jeecg.modules.sdu.entity.SduCreative">
        SELECT * FROM sdu_creative WHERE classify = #{cid} and deletestate=0
    </select>
    <select id="findById" parameterType="Integer" resultType= "org.jeecg.modules.sdu.entity.SduCreative">
        SELECT * FROM sdu_creative WHERE ID = #{id} and deletestate=0
    </select>
    <update id="demandDelete" parameterType="Integer" >
        UPDATE sdu_creative SET deletestate = 1 WHERE ID = #{id}
    </update>

    <select id="findBySingleUser"  resultType= "org.jeecg.modules.sdu.entity.SduCreative">
        SELECT * FROM sdu_creative WHERE USER = #{user}  and deletestate=0
    </select>
<!--    <select id="findLatestCreative"  resultType= "org.jeecg.modules.sdu.entity.SduCreative">-->
<!--        SELECT * FROM sdu_creative WHERE deletestate=0 ORDER BY DATE DESC LIMIT 5-->
<!--    </select>-->
</mapper>
