<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sdu.mapper.SduSolutionDemandMapper">
    <select id="searchNumberById" parameterType="Integer" resultType="int">
        SELECT COUNT(*) FROM sdu_solution_demand WHERE DEMANDID = #{id} AND status != 0
    </select>

    <select id="getSolutionByUser" parameterType="String" resultType="org.jeecg.modules.sdu.entity.SduSolutionDemand">
        SELECT * FROM sdu_solution_demand WHERE USER = #{user} AND status != 0
    </select>

    <select id="findSolutionById" parameterType="Integer" resultType="org.jeecg.modules.sdu.entity.SduSolutionDemand">
        SELECT * FROM sdu_solution_demand WHERE DEMANDID = #{demandid} AND status != 0
    </select>
    <select id="findSolutionByName" parameterType="String" resultType="org.jeecg.modules.sdu.entity.SduSolutionDemand">
        SELECT * FROM sdu_solution_demand WHERE NAME = #{name} AND status != 0
    </select>
    <select id="findById" parameterType="Integer" resultType="org.jeecg.modules.sdu.entity.SduSolutionDemand">
        SELECT * FROM sdu_solution_demand WHERE ID = #{id} AND status != 0
    </select>

    <select id="findSolutionByStatus"  parameterType="Integer" resultType="org.jeecg.modules.sdu.entity.SduSolutionDemand">
        SELECT * FROM sdu_solution_demand WHERE DEMANDID = #{demandid} AND status = 3
    </select>

</mapper>
