<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.area.mapper.SduAreaDetailMapper">
    <select id="findDetailByPid" parameterType="int" resultType="org.jeecg.modules.area.entity.SduAreaDetail">
         SELECT * FROM sdu_area_detail WHERE p_id = #{pid}
    </select>
</mapper>